
#toggle-menu{
    display: none; 
  }

.toggle-menu{
    
    position: absolute;
    right: 60px;
  }
  
@media (max-width: 992px)
{

  .navbar ul{

    margin-top: 28px; 
    background-color: rgb(47, 20, 97);
    width: 100%;
    position: absolute;
    top: 79px;
    left: 0;
    gap: 45px; 
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap; 
    transform: translateX(200%);
    transition: all 0.4s ease;
   
}

    .navbar-link{
      
      padding: 10px 0px 10px 0px;
      display: flex;
  
    }


    #toggle-menu:checked + .navbar-list{
        
      transform: translateX(0);

    }
    
    .container-0{

        font-size: 9px;

        padding-left: 130px;

        gap: 50px

    
    }

    .container-0 img{

        height: 70px;
    }



    .col-md-1{
      display: none;
    }

    .container{

      padding-right: 50px;
   
    }

    .col-md-3 h4{

      font-size: 25px;
      padding-bottom: 55px;
    }

    .col-md-3 ul{

      font-size:25px;
      gap:10px;
    }

    .links{

      padding: 50px;

  
    }
    .bars-menu{

      display: flex;
    }

}  

@media (max-width: 576px){

  .navbar ul{

    margin-top: 28px; 
    background-color: rgb(47, 20, 97);
    border-color: black;
    width: 100%;
    position: absolute;
    top: 78px;
    left: 0;
    gap: 10px; 
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease;
    
    
   
}

    .navbar-link{

      padding: 10px 0px 10px 0px;
      display: flex;
  
    }


      #toggle-menu:checked + .navbar-list{
        
        transform: translateX(0);

      }

      h1{
        font-size: 20px;
      }

      .container-0{

        font-size: 8px;

        padding-left: 50px;

        gap: 30px

    
    }

    .container-0 img{

        height: 50px;
    }

  

    .col-md-1{
      display: none;
    }

    .container{

      margin-left: 150px ;
      padding-left: 130px;
      width: 50px;
    }

    .col-md-3 h4{

      font-size: 10px;
      padding-bottom: 5px;
    }

    .col-md-3 ul{

      font-size:15px;
      padding: 20px;

    }

    .col-md-3 a{

      font-size: 10px;
    }

    .col-md-3 a img{

      height: 40px;
    }

    .links{

      padding: 5px;
    }

    .bars-menu{

      display: flex;
    }






}